:root {
    --DARK-PRIMARY-COLOR: #388E3C;
    --LIGHT-PRIMARY-COLOR: #C8E6C9;
    --PRIMARY-COLOR: #4CAF50;
    
    --ACCENT-COLOR: #CDDC39;

    --TEXT-ICONS-COLOR: #FFFFFF;
    --PRIMARY-TEXT-COLOR: #212121;
    --SECONDARY-TEXT-COLOR: #757575;
    --DIVIDER-COLOR: #BDBDBD;

    --BUTTON-WIDTH: 32px;
    --BUTTON-HEIGHT: 32px;
}